.city {
  background-color: #f6f1f4;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}

.weather {
  background-image: linear-gradient(to right, #6e3f98, #a37697);
  height: 280px;
  width: 50%;
  border-radius: 10px;
  display: inline-block;
}

.details {
  background-image: linear-gradient(to left, #6e3f98, #a37697);
  height: 280px;
  width: 40%;
  border-radius: 10px;
  display: inline-block;
  margin-left: 3%;
}

.content-inner {
  display: inline-block;
  color: white;
  width: 50%;
}

.right-side {
  text-align: right;
}

.container-inner {
  padding: 30px;
}

.primary {
  font-size: 27px;
}

.secondary {
  font-size: 17px;
}

.temp {
  font-size: 80px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
